@import 'https://fonts.googleapis.com/css?family=Oswald:400,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';


body {
	margin: 0;
}

header {
	background: red;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 50px;
}
header h1{
	display: inline;
	font-family: 'Oswald',sans-serif;
	font-weight:400;
	font-size: 32px;
	float: left;
	margin-top:0px;
	margin-right: 10px;
}

nav ul{
	display: inline;
	padding: 0px;
	float: left;
}

nav ul li{
	display: inline;
	list-style-type: none;
	color: white;
	float: left;
	margin-right: 19px;
	margin-left:10px;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

#nav {
	font-family: 'Montserrat' , sans-serif;
	font-size: 17px;
}


.content {
	background-color: black;
	height: 5px;
}

.homered:hover {
	background-color: black;
	padding: 25px 10px 19px 10px;
}

}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
